-var countryData = data[0]
-var countryDataLanguages = Object.values(countryData.languages)
-var countryCurrencies = Object.values(countryData.currencies)
-var countryNativeNames = Object.values(countryData.name.nativeName)

section(class="detailed-section hide")
    
    div.button-back-container
        a.detailed-button(href="#/"+countryData.region)
            span.material-symbols-outlined keyboard_backspace
            span Back
    div.row
        div.col
            img.country-flag(src=countryData.flags.svg || countryData.flags.png alt=countryData.flags.alt)
        div.col
            div.row
                h1.country-name= countryData.name.official

            div.row
                div.col
                    p
                        span.item-title Native Name: 
                        each nativename, index in countryNativeNames
                            if index < countryNativeNames.length -1
                                span= nativename.common + ", "
                            else 
                                span= nativename.common

                    p
                        span.item-title Population: 
                        span= countryData.population

                    p
                        span.item-title Region: 
                        span= countryData.region

                    p
                        span.item-title Sub Region: 
                        span= countryData.subregion

                    p
                        span.item-title Capital: 
                        span= countryData.capital

                div.col
                    p
                        span.item-title Top Level Domain: 
                        span= countryData.tld[0]

                    p
                        span.item-title Currencies: 
                        each currency in countryCurrencies
                            span= currency.name

                    p
                        span.item-title Languages: 
                        each language, index in countryDataLanguages 
                            if index < countryDataLanguages.length - 1
                                span= language + ", "
                            else 
                                span= language
            div.row
                p
                    span.item-title Border Countries:  
                        if countryData.borders.length > 0
                            div.borders-container
                                each border in countryData.borders 
                                    span.borders-tag= border
                        else 
                            span none
    
